@{
    ViewBag.Title = "Про Автора";
}

<h2>Про Автора</h2>
<p>Привіт! Мене звати Артем і це моя перша лабораторна робота</p>

<h3>Група</h3>
<ul>
    <li>1КІТС-22Б</li>
</ul>

<h3>Контакт</h3>
<p>Ви можете зв'язатися зі мною електронною поштою за адресою rvngwork7@gmail.com або через соціальну мережу:</p>
<ul>
    <li><a href="https://www.linkedin.com/in/rvng8117/" target="_blank">LinkedIn профіль</a></li>
</ul>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Запуск модального вікна
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Модальне вікно</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Я обрав Bootstrap компонент - modal
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>
